* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  padding: 0;
  margin: 0;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
}

/* test for classnames package */
.glass {
  border: 3px solid white;
}
